<div class="card">
  <div class="card-header">
    <h3 style="text-align:center;font-family:rockwell">Personal Information Table</h3>
  </div>
  <div *ngIf="!data.length" class = "nodata-found"> No Data Found </div>
  <div *ngIf="data.length" class="card-body">
    <div class="row">
      <div class="table-responsive">
      <table class="table table-stripped">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Gender</th>
          <th>Email Id</th>
          <th>Phone No</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let datarow of data">
          <td>{{datarow.firstName}}</td>
          <td>{{datarow.lastName}}</td>
          <td>{{datarow.gender}}</td>
          <td>{{datarow.email}}</td>
          <td>{{datarow.phoneNo}}</td>
          <td><button class="btn btn-warning" (click)="editData(datarow.id)">Edit</button></td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>
  </div>
</div>
<br/>

