<br/>
<div>
  <h3>Enter the Details</h3>
  <hr />
</div>
<div class="col-md-4" style="width:400px; margin-left:20px">
  <form
    #addDataForm="ngForm"
    (ngSubmit)="addData(addDataForm.value)"
    autocomplete="off"
    novalidate
  >
    <div class="form-group">
      <label for="firstName">First Name : </label>
      <input
        [(ngModel)]="firstName"
        name="firstName"
        id="firstName"
        type="text"
        class="form-control"
        placeholder="Enter First Name..."
        required
      />
      <em
        class="em"
        *ngIf="
          addDataForm.controls.firstName.invalid &&
          addDataForm.controls.firstName?.touched
        "
        >Required
      </em>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name : </label>
      <input
        [(ngModel)]="lastName"
        name="lastName"
        id="lastName"
        type="text"
        class="form-control"
        placeholder="Enter Last Name..."
        required
      />
      <em
        *ngIf="
          addDataForm.controls.lastName.invalid &&
          addDataForm.controls.lastName?.touched
        "
        >Required</em
      >
    </div>
    <div class="form-group">
      <label for="gender">Gender : </label>
      <select
        [(ngModel)]="gender"
        name="gender"
        id="gender"
        class="form-control"
        required
      >
        <option value="none" selected>Select</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
      <em *ngIf="addDataForm.controls.gender?.value === 'none'">Required</em>
    </div>
    <div class="form-group">
      <label for="email">EmailId : </label>
      <input
        [(ngModel)]="email"
        name="email"
        id="email"
        type="email"
        class="form-control"
        placeholder="abc@xyz.com"
        required
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      />
      <em
        *ngIf="
          addDataForm.controls.email?.invalid &&
          addDataForm.controls.email?.touched &&
          addDataForm.controls.email?.errors.required
        "
        >Required</em
      >
      <em
        *ngIf="
          addDataForm.controls.email?.invalid &&
          addDataForm.controls.email?.touched &&
          addDataForm.controls.email?.errors.pattern
        "
        >Must be a vaild Email Id</em
      >
    </div>
    <div class="form-group">
      <label for="phoneNo">Phone No : </label>
      <input
        [(ngModel)]="phoneNo"
        name="phoneNo"
        id="phoneNo"
        type="text"
        class="form-control"
        placeholder="76xxxxxx22"
        required
        pattern="^[6789]\d{9}$"
      />
      <em
        *ngIf="
          addDataForm.controls.phoneNo?.invalid &&
          addDataForm.controls.phoneNo?.touched &&
          addDataForm.controls.phoneNo?.errors.required
        "
        >Required</em
      >
      <em
        *ngIf="
          addDataForm.controls.phoneNo?.invalid &&
          addDataForm.controls.phoneNo?.touched &&
          addDataForm.controls.phoneNo?.errors.pattern
        "
        >Please enter a valid Phone Number</em
      >
    </div>
    <br />
    <button
      type="submit"
      [disabled]="addDataForm.invalid"
      class="btn btn-primary"
    >
      Submit
    </button>
    <button
      type="button"
      style="margin-left:10px"
      class="btn btn-danger"
      (click)="clearAllData()"
    >
      Clear
    </button>
  </form>
</div>
